* {
  font-family: Arial, sans-serif;
  color: var(--vizrt-color-text-primary);

  --vizrt-color-primary: #E08256;
  --vizrt-color-secondary: #d24129;
  --vizrt-color-background-primary: #1e2c32;
  --vizrt-color-background-secondary: #233540;
  --vizrt-color-text-primary: #eeeeee;
  --vizrt-color-text-secondary: #8AA9B7;
}

body {
  /* background-color: #142b35 !important; */
  background-color: var(--vizrt-color-background-primary) !important;
}

.custom-col {
  margin: 20px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}

.product-image:hover {
  border: 1px solid var(--vizrt-color-primary);
}

#product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.product-details h3 {
  font-size: 25px;
}

.custom-col .btn {
  background-color: var(--vizrt-color-primary);
  color: #000000;
  width: 45%;
  border: none;
  border-radius: 25px 25px 25px 25px;
}

.custom-col .btn:hover {
  background-color: var(--vizrt-color-secondary);
}

.desccard {
  overflow: auto;
}

#container {
  justify-content: space-evenly;
}


/* Sidebar */

.sidebarItem>input {
}

#sidebar {  
  padding-top: 1%;
  background-color: var(--vizrt-color-background-secondary);
  width: 12%;
  border: var(--vizrt-color-primary) solid 2px;
  margin-right: 3%;
 
}

.sidebarItem>p {
  display: inline;
  margin-left: 3%;
}

.sidebarItem {
  border-radius: 10px;

}

.sidebarItem:hover {
  background-color: var(--vizrt-color-text-secondary);  
  color:var(--vizrt-color-primary);

}

.sidebarItem>p:hover {
  color:var(--vizrt-color-primary);
}