smidig/src/Components/Homepage/EditWindow.js
smidigAPI/obj/Debug/net6.0/smidigAPI.assets.cache
smidigAPI/obj/Debug/net6.0/staticwebassets.pack.json
smidigAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.smidigAPI.props
smidigAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.smidigAPI.props
smidigAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.smidigAPI.props
smidigAPI/obj/Debug/net6.0/staticwebassets/msbuild.smidigAPI.Microsoft.AspNetCore.StaticWebAssets.props
smidigapi/obj/Debug/net6.0/smidigapi.RazorAssemblyInfo.cache
smidigapi/obj/Debug/net6.0/smidigapi.RazorAssemblyInfo.cs
