/* body {
    overflow-y:hidden;
} */

.container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--vizrt-color-background-primary);
  }
  
  .input-field {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid var( --vizrt-color-text-secondary);
    background-color: var(--vizrt-color-background-primary);
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 10px;
    }
  
    .input-field {
      width: 80%;
      max-width: none;
    }
  }
  
  @media (max-width: 480px) {
    .input-field {
      width: 90%;
    }
  }
  


/* .backgroundImage  {
    display: flex;
    margin-left: 10%;
    width:80%;
    padding-bottom: 9%;
} */