#sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: var(--vizrt-color-background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#sidebar.dimmed {
  background-color: #182429;
}

#sidebar.dimmed .sidebarItem {
  background-color: #1e2529;
}

#searchSidebar {
  width: 100%;
  height: 40%;
  background-color: var(--vizrt-color-background-secondary);
  border: 3px solid var(--vizrt-color-text-secondary);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.sidebarItem {
  width: 80%;
  height: 50px;
  border: none;
  background-color: var(--vizrt-color-background-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;
}

.sidebarItem:disabled {
  pointer-events: none; 
  opacity: 0.5; 
}

.contentContainer {
  width: 16px;
  margin-right: 15px;
}

.sidebarItem:hover {
  background-color: var(--vizrt-color-background-primary);
}

.sidebarItem.active {
  color: var(--vizrt-color-primary);
}

#sidebar.dimmed .sidebarItem.searchActive,
#searchSidebar.searchActive {
  background-color: var(--vizrt-color-background-secondary);
}