.home-tools-layers-container {
    position: relative;
    overflow: scroll;
    height: 50%;
    width: 100%;
    background-color: var(--vizrt-color-background-secondary);
    border-top: 1px solid var(--vizrt-color-background-primary);
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--vizrt-color-passive);
    border-radius: 0.25rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

.layer-item-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    /* height: 32px; */
    width: 100%;
    border: 1px solid var(--vizrt-color-background-primary);
    border-radius: 4px;
}

.layer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chevron-button{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 0;
    width: 32px;
    height: 100%;
}

.layer-subitem-hidden {
    display: none;
}